@charset "utf-8";
/* Global */
:root {
	/* Color */
	--color-white: #fff;
	--color-light-white: #eee;
	--color-dark-white: #bdbdbd;
	--color-pink: #fdbfd6;
	--color-dark-pink: #ffabca;
	--color-purple: #b7a8de;
	--color-orange: #feb546;
	--color-blue: #73aace;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-dark-grey: #4d4d4d;
	--color-black: #000;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font Weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 4px;

	/* Animation */
	--animation-duration: 300ms;
}

/* Universa tags */
* {
	box-sizing: border-box;
}

/* reset */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul {
	list-style: none;
	padding-left: 0;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}
/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 8px 0;
}

h4 {
	color: var(--color-white);
	font-size: var(--font-regular);
}

p {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0;
}

/* Navbar */
#navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	color: var(--color-white);
	padding: 16px;
	transition: all var(--animation-duration) ease-in;
	z-index: 100;
}
#navbar.navbar--dark {
	background-color: var(--color-pink);
	padding: 8px;
}

.navbar__menu {
	display: flex;
}

.navbar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
	padding: 8px 12px;
	margin: 4px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
	border-color: var(--color-white);
	background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
	display: none;
	position: absolute;
	right: 32px;
	top: 24px;
	font-size: 24px;
	color: var(--color-white);
}
/* Home */
#home {
	background: url('./images/home-background.png') center/ cover no-repeat;
	padding: 40px;
	padding-top: 120px;
	text-align: center;
}

.home__avatar {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
	color: var(--color-white);
}

.home__contact {
	color: var(--color-white);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding: 8px 12px;
	border: 2px solid var(--color-white);
	border-radius: var(--size-border-radius);
}

/* Section common */
.section {
	padding: 50px;
	text-align: center;
	margin: auto;
}
.section__container {
	margin: auto;
	max-width: 1200px;
}

/* About*/
.about__majors {
	display: flex;
	justify-content: space-between;
	margin: 80px 0;
}

.major__icon {
	width: 170px;
	height: 170px;
	line-height: 170px;
	font-size: 70px;
	margin: auto;
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	margin-bottom: 16px;
}

.major__icon i {
	transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
	color: var(--color-pink);
	transform: rotate(-30deg) scale(1.1);
}
.major__title,
.major__description {
	color: var(--color-dark-grey);
}
.major__description {
	font-size: var(--font-small);
}
.job {
	display: flex;
	align-items: center;
}
.job__description {
	margin: 0 16px;
	text-align-last: left;
}

.job__period,
.job__name {
	color: var(--color-light-grey);
}

.job__name {
	font-size: var(--font-small);
}

.job__period {
	font-size: var(--font-micro);
}

/* Skill */
.skillset {
	display: flex;
	background-color: var(--color-light-grey);
	color: var(--color-light-white);
	margin: 20px 0;
}

.skillset__title {
	color: var(--color-white);
}
.skillset__left {
	flex-basis: 60%;
	background-color: var(--color-dark-grey);
	padding: 20px 40px;
}
.skill {
	margin-bottom: 32px;
}
.skill__description {
	display: flex;
	justify-content: space-between;
}

.skill__bar {
	width: 100%;
	height: 3px;
	background-color: var(--color-grey);
}

.skill__value {
	height: 3px;
	background-color: var(--color-purple);
}
.skillset__right {
	flex-basis: 40%;
	background-color: var(--color-grey-grey);
}

.tools {
	background-color: var(--color-grey);
}
.tools,
.etc {
	padding: 20px;
}

/* Work */
.work__categories {
	margin: 40px;
}
.category__btn {
	border: 1px solid var(--color-dark-white);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 48px;
	position: relative;
}
.category__btn.selected,
.category__btn:hover {
	background-color: var(--color-pink);
	color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 0;
}

.category__count {
	display: inline-block;
	background-color: var(--color-light-grey);
	border-radius: 50%;
	color: var(--color-white);
	width: 24px;
	height: 24px;
	line-height: 24px;
	top: -20px;
	right: 16px;
	opacity: 0;
	transition: all var(--animation-duration) ease-in;
	position: absolute;
}

.work__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
	opacity: 0;
	transform: scale(0.96) translateY(40px);
}

.project {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 250px;
	margin: 2px;
	background-color: var(--color-light-white);
}

.project.invisible {
	display: none;
}

.project__img {
	max-width: 100%;
	max-height: 100%;
}

.project__description {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.project__description h3 {
	color: var(--color-pink);
}

.project__description h3:after {
	position: relative;
	left: 50%;
	margin-left: -12.5px;
	margin-top: 8px;
	display: block;
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	background-color: var(--color-dark-white);
	content: '';
}

/* Multi */
.multi__container {
	margin: auto;
	max-width: 1200px;
}

.multi__lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.multi__lists li {
	justify-content: center;
	align-items: center;
	position: relative;
	width: 320px;
	height: 420px;
	text-align: center;
	background-color: var(--color-white);
	overflow: hidden;
	cursor: pointer;
	margin: 2px;
}

.multi__lists li img {
	display: block;
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 0;
	max-width: 100%;
	max-height: 100%;
}

.list1:hover h1 {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -310px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -310px, 0);
}

.list1:hover p {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -270px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -270px, 0);
	opacity: 1;
}

.list1:hover span {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -210px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -210px, 0);
	opacity: 1;
}

.list1:hover .screen::before {
	opacity: 1;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.screen {
	height: 100%;
}
.list1 .screen:before {
	position: absolute;
	top: 420px;
	left: 0;
	width: 320px;
	height: 420px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(10%, rgba(46, 46, 46, 0.8)),
		color-stop(80%, rgba(105, 103, 60, 0.7))
	);
	background: linear-gradient(to bottom, rgba(46, 46, 46, 0.8) 10%, rgba(105, 103, 60, 0.7) 80%);
	opacity: 0;
	-webkit-transform: translate3d(0, 80%, 0);
	transform: translate3d(0, 80%, 0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	z-index: 10;
	content: '';
}

.list1 .screen h4 {
	position: absolute;
	width: 320px;
	left: 0;
	top: 360px;
	z-index: 10;
	color: var(--color-white);
	transition: transform 0.35s, all 0.35s;
	transition: transform 0.35s, all 0.35s, -webkit-transform 0.35s;
}

.list1:hover h4 {
	top: 30px;
}

.list1 .screen span,
.screen p {
	position: absolute;
	width: 320px;
	left: 0;
	top: 420px;
	margin-top: 10px;
	transition: transform 0.35s, all 0.35s;
	transition: transform 0.35s, all 0.35s, -webkit-transform 0.35s;
	z-index: 10;
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-align-last: left;
	padding: 0 35px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.5;
}

ul .list1 .screen h4:after {
	position: absolute;
	width: 100px;
	height: 2px;
	left: 50%;
	margin-left: -50px;
	top: 50px;
	background-color: var(--color-white);
	opacity: 0.5;
	content: '';
}
.list2 h4 {
	position: absolute;
	width: 320px;
	left: 0;
	top: 50%;
	margin-top: -12px;
	z-index: 10;
	transition: all 0.5s;
}
.list2 p {
	color: var(--color-white);
}
.list2:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	height: 420px;
	background-color: rgba(38, 38, 38, 0.3);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 0;
	content: '';
}

.list2:hover:after {
	opacity: 1;
}

.list2:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.list2:hover h4 {
	top: 150px;
}

.list2:hover p {
	top: 200px;
	opacity: 1;
}

.list2:hover li:nth-of-type(1) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(2) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(3) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(4) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2 p {
	width: 320px;
	position: absolute;
	left: 0;
	top: 230px;
	z-index: 10;
	opacity: 0;
	-webkit-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}
.list2 ol {
	position: absolute;
	left: 0;
	top: 0;
	margin-bottom: 0;
	width: 320px;
	height: 420px;
	z-index: 10;
}
.list2 ol li {
	position: absolute;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
	background-color: var(--color-white);
}

.list2 ol li:nth-of-type(1) {
	width: 276px;
	height: 2px;
	left: 20px;
	top: 20px;
}

.list2 ol li:nth-of-type(2) {
	width: 2px;
	height: 376px;
	right: 20px;
	top: 20px;
}

.list2 ol li:nth-of-type(3) {
	width: 276px;
	height: 2px;
	right: 20px;
	bottom: 20px;
}

.list2 ol li:nth-of-type(4) {
	width: 2px;
	height: 376px;
	left: 20px;
	bottom: 20px;
}

.list2 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.list3 {
	position: relative;
	background-color: #000;
	color: #fff;
}

.list3:hover img {
	opacity: 0.8;
}
.list3:hover h4 {
	top: 80px;
}

.list3:hover p {
	top: 140px;
}

.list3:hover div {
	top: 360px;
}

.list3 h4 {
	position: absolute;
	top: 100px;
	left: 30px;
	z-index: 3;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.list3 p {
	position: absolute;
	top: 160px;
	left: 30px;
	z-index: 2;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.icons i:nth-of-type(1) {
	left: 0;
	-webkit-transition: all 0.3s 0.1s;
	transition: all 0.3s 0.1s;
}

.icons i:nth-of-type(2) {
	left: 45px;
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
}

.icons i:nth-of-type(3) {
	left: 90px;
	-webkit-transition: all 0.3s 0.3s;
	transition: all 0.3s 0.3s;
}

.list3 div {
	position: absolute;
	width: 320px;
	height: 60px;
	top: 420px;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.list3 img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-transition: all 0.3s 0s;
	transition: all 0.3s 0s;
}
.list3 .icons {
	position: absolute;
	top: 256px;
	right: 20px;
	width: 132px;
	height: 50px;
	z-index: 4;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}
.list3 .icons i {
	display: block;
	position: absolute;
	top: 200px;
	color: var(--color-white);
	width: 22px;
	height: 22px;
}

.list3:hover .icons i {
	top: 120px;
}
/* Contact */
#contact {
	background-color: var(--color-dark-pink);
}

.contact__title,
.contact__email,
.contact__right {
	color: var(--color-white);
}
.contact__title {
	margin: 32px 0;
}

.contact__links {
	font-size: var(--font-large);
	margin: 24px 0;
}
.contact__links i {
	transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
	transform: scale(1.1);
	color: var(--color-blue);
}

/* Scroll */
.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 70px;
	height: 70px;
	font-size: 50px;
	background-color: var(--color-blue);
	color: var(--color-white);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 300ms ease-in;
	pointer-events: none;
	z-index: 100;
}

.arrow-up.visible {
	opacity: 1;
	pointer-events: auto;
}

/* for below 768px screen width */
@media screen and (max-width: 768px) {
	:root {
		/* Font size */
		--font-large: 30px;
		--font-medium: 18px;
		--font-regular: 16px;
		--font-small: 14px;
		--font-micro: 12px;
	}
	.navbar__toggle-btn {
		display: block;
		top: 16px;
		right: 16px;
		font-size: var(--font-medium);
	}

	.section {
		padding: 16px;
		padding-top: 40px;
	}
	#navbar {
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--color-pink);
	}
	#navbar.navbar--dark {
		padding: 16px;
	}
	.navbar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display: none;
	}

	.navbar__menu.open {
		display: block;
	}
	.about__majors {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.major {
		margin-bottom: 30px;
	}

	.skillset {
		flex-direction: column;
	}

	.category__btn {
		margin: 4px 0;
		width: 100%;
	}
	.project {
		flex-grow: 1;
	}

	.multi__lists {
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
	}

	.arrow-up {
		width: 50px;
		height: 50px;
		font-size: 30px;
		line-height: 50px;
		right: 16px;
		bottom: 16px;
	}
}
