@charset "utf-8";
/* Global */
:root {
	/* font-family */
	--font-korean: 'Nanum Gothic', sans-serif;
	/* Color */
	--color-white: #fff;
	--color-light-white: #eee;
	--color-dark-white: #bdbdbd;
	--color-pink: #fdbfd6;
	--color-dark-pink: #ffabca;
	--color-purple: #c68fca;
	--color-orange: #feb546;
	--color-blue: #73aace;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-dark-grey: #4d4d4d;
	--color-black: #000;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font Weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 4px;

	/* Animation */
	--animation-duration: 300ms;
}
[data-scroll] {
	opacity: 0;
	will-change: transform, scale, opacity;
	transform: translateY(1.1rem) scale(0.93);
	transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
	opacity: 1;
	transform: translateY(0) scale(1);
}

[data-scroll='out'] {
	opacity: 0;
}
/* Universa tags */
* {
	box-sizing: border-box;
}

/* reset */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	cursor: default;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

ul,
ol {
	list-style: none;
	padding-left: 0;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.sr-only {
	position: absolute;
	left: -9999px;
}
.scroll_hidden {
	overflow-y: hidden;
}

/* Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 8px 0;
}

h4 {
	color: var(--color-white);
	font-size: var(--font-regular);
}

p {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0;
}

/* Navbar */
#navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	color: var(--color-white);
	padding: 16px;
	transition: all var(--animation-duration) ease-in;
	z-index: 1000;
}
#navbar.navbar--dark {
	background-color: var(--color-pink);
	padding: 8px;
}

.navbar__menu {
	display: flex;
}

.navbar__logo .logo {
	width: 50px;
	margin-left: 20px;
	cursor: pointer;
}
.navbar__logo .logo img {
	display: block;
	height: 50px;
}
.navbar__menu__item {
	padding: 8px 12px;
	margin: 4px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
	border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
	border-color: var(--color-white);
	background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
	position: absolute;
	right: 32px;
	top: 24px;
	width: 24px;
	height: 24px;
	display: none;
}
.navbar__toggle-btn > .bars {
	display: block;
	width: 100%;
	height: 100%;
}

.navbar__toggle-btn > .bars > span {
	display: block;
	position: absolute;
	width: 30px;
	height: 1px;
	background-color: var(--color-white);
	right: 0;
	transition: all 0.35s;
}

.navbar__toggle-btn .bars > span:nth-child(1) {
	top: 0;
}
.navbar__toggle-btn .bars > span:nth-child(2) {
	top: 50%;
	width: 20px;
	transform: translate(0, -50%);
}
.navbar__toggle-btn .bars > span:nth-child(3) {
	bottom: 0;
}

/* mousewheel */
.navbar__toggle-btn .bars > span:nth-child(1).togOn {
	transform: translateY(10px) rotate(-45deg);
}
.navbar__toggle-btn .bars > span:nth-child(2).togOn {
	opacity: 0;
}
.navbar__toggle-btn .bars > span:nth-child(3).togOn {
	transform: translateY(-13px) rotate(45deg);
}

@keyframes mousewheel {
	0% {
		top: 5px;
		opacity: 0;
	}
	30% {
		top: 10px;
		opacity: 1;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}
.mouseicon {
	position: absolute;
	left: 50%;
	bottom: 10%;
	margin-left: -15px;
	width: 30px;
	height: 50px;
	border: 2px solid var(--color-light-white);
	box-sizing: border-box;
	border-radius: 15px;
	z-index: 100;
}
.mouseicon .wheel {
	display: block;
	position: absolute;
	left: 50%;
	top: 5px;
	margin-left: -2px;
	width: 4px;
	height: 10px;
	text-indent: -9999px;
	background-color: var(--color-light-white);
	border-radius: 10px;
	animation: mousewheel 1s linear infinite;
}
.mouseHidden {
	display: none;
}

/* Home */
#home {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('./images/home-background.png') center/ cover no-repeat;
	padding: 140px 40px 200px;
	text-align: center;
}

.home__avatar {
	width: 250px;
	height: 280px;
}

.home__title,
.home__description {
	color: var(--color-white);
}
.star span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	background: linear-gradient(-45deg, var(--color-dark-white), rgba(255, 245, 215, 0));
	filter: drop-shadow(0 0 6px var(--color-dark-white));
	border-radius: 50%;
	animation: star 3s linear infinite;
}
.star span:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	width: 300px;
	height: 1px;
	transform: translateY(-50%);
	background: linear-gradient(90deg, #fff, transparent);
}
@keyframes star {
	0% {
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}
.star span:nth-child(1) {
	top: -50px;
	left: 20%;
	animation-delay: 0;
	animation-duration: 4s;
}
.star span:nth-child(2) {
	top: -50px;
	left: 40%;
	animation-delay: 0.5s;
	animation-duration: 4s;
}
.star span:nth-child(3) {
	top: -100px;
	left: 60%;
}
.star span:nth-child(4) {
	top: -300px;
	left: 80%;
	animation-duration: 4s;
}
.star span:nth-child(5) {
	top: -100px;
	left: 100%;
	animation-duration: 3s;
}
.star span:nth-child(6) {
	top: -50px;
	left: 120%;
	animation-duration: 3s;
}
#dynamic {
	position: relative;
	display: inline-block;
}

#dynamic:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: -10px;
	width: 4px;
	height: 100%;
	background-color: var(--color-white);
}
#dynamic.active:after {
	display: none;
}

.home__contact {
	color: var(--color-white);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding: 8px 12px;
	border: 2px solid var(--color-white);
	border-radius: var(--size-border-radius);
	transition: all var(--animation-duration) ease-in;
	z-index: 100;
}
.home__contact:hover {
	background-color: var(--color-white);
	color: var(--color-dark-pink);
}
/* Section common */
.section {
	padding: 80px;
	text-align: center;
	margin: auto;
}
.section__container {
	margin: auto;
	max-width: 1200px;
}

/* About*/
.about__profile {
	display: flex;
}
.cont1 {
	width: 50%;
	display: flex;
}
.cont1 > div:nth-child(1) {
	width: 70%;
	height: auto;
	margin: auto 0;
}
.cont1 > div:nth-child(1) img {
	width: 70%;
	margin: 0 auto;
	height: 100%;
	display: block;
	border-radius: 100%;
}
.cont1 > div:nth-child(2) {
	width: 30%;
	height: auto;
	text-align: right;
	margin: auto 0;
	padding-right: 20px;
}
.cont1 > div:nth-child(2) > h3 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	font-weight: var(--weight-semi-bold);
}
.cont1 > div:nth-child(2) > h3:after {
	content: '';
	width: 40%;
	height: 1px;
	display: block;
	background: var(--color-black);
	position: absolute;
	right: 0;
	bottom: 0;
}
.cont1 > div:nth-child(2) > p {
	height: 25px;
	line-height: 25px;
	font-family: var(--font-korean);
}
.cont1 > div:nth-child(2) > p:last-child {
	float: right;
}
.cont2 {
	width: 50%;
	height: 100%;
	padding: 5%;
	box-sizing: border-box;
}
.cont2 .License {
	margin-bottom: 40px;
}
.cont2 > div > h3 {
	margin-bottom: 20px;
	text-align: left;
	font-weight: var(--weight-semi-bold);
}
.cont2 > div li {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	line-height: 20px;
	font-family: var(--font-korean);
}
.cont2 p {
	font-family: var(--font-korean);
}
.cont2 > div li > span:nth-child(1) {
	text-align: left;
	width: 35%;
	display: block;
}
.cont2 > div li > span:nth-child(2) {
	text-align: left;
	width: 65%;
	display: block;
}

.about__majors {
	display: flex;
	justify-content: space-between;
	margin: 80px 0;
}
.major__icon {
	width: 170px;
	height: 170px;
	line-height: 170px;
	font-size: 70px;
	margin: auto;
	color: var(--color-blue);
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	margin-bottom: 16px;
}

.major__icon i {
	transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
	color: var(--color-pink);
	transform: rotate(-30deg) scale(1.1);
}
.major__title,
.major__description {
	color: var(--color-dark-grey);
}
.major__description {
	font-size: var(--font-small);
}

/* Skill */
.skillset {
	display: flex;
	background-color: var(--color-light-grey);
	color: var(--color-light-white);
	margin: 20px 0;
}

.skillset__title {
	color: var(--color-white);
}
.skillset__left {
	flex-basis: 60%;
	background-color: var(--color-dark-grey);
	padding: 20px 40px;
}
.skill {
	margin-bottom: 50px;
}
.skill__description {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-korean);
}
.skill__description span {
	margin-bottom: 10px;
}
.skill__bar {
	width: 100%;
	height: 3px;
	background-color: var(--color-grey);
}
.skill__bar > p {
	color: var(--color-light-white);
	font-size: var(--font-small);
	text-align-last: left;
}
.skill__value {
	border-radius: 20px;
	width: 0%;
	height: 6px;
	background: linear-gradient(-90deg, var(--color-purple), var(--color-pink));
	filter: drop-shadow(0 0 6px var(--color-light-white));
	transform: translate(0, -30%);
	transition: all 1s;
}

.skillset div.skill:nth-child(2) .skill__value.skillOn {
	width: 90%;
}
.skillset div.skill:nth-child(3) .skill__value.skillOn {
	width: 90%;
}
.skillset div.skill:nth-child(4) .skill__value.skillOn {
	width: 75%;
}
.skillset div.skill:nth-child(5) .skill__value.skillOn {
	width: 80%;
}
.skillset div.skill:nth-child(6) .skill__value.skillOn {
	width: 75%;
}
.skillset .skillset__right {
	flex-basis: 40%;
	background-color: var(--color-grey-grey);
}

.tools {
	background-color: var(--color-grey);
}
.tools,
.etc {
	height: 50%;
	padding: 20px;
}

.tools__list li,
.etc__list {
	line-height: 2;
}
/* Work */
.work__categories {
	margin: 40px;
}
.category__btn {
	border: 1px solid var(--color-pink);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 48px;
	position: relative;
}
.category__btn.selected,
.category__btn:hover {
	background-color: var(--color-pink);
	color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 0;
}

.category__count {
	display: inline-block;
	background-color: var(--color-light-grey);
	border-radius: 50%;
	color: var(--color-white);
	width: 24px;
	height: 24px;
	line-height: 24px;
	top: -20px;
	right: 16px;
	opacity: 0;
	transition: all var(--animation-duration) ease-in;
	position: absolute;
	font-size: var(--font-micro);
}

.work__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}
.work__projects.anim-out {
	opacity: 0;
	transform: scale(0.96) translateY(40px);
}

.project {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 250px;
	margin: 2px;
	background-color: var(--color-light-white);
}

.project.invisible {
	display: none;
}

.project__img {
	max-width: 100%;
	max-height: 100%;
}
.mob_project .project__img {
	max-width: 90%;
	max-height: 90%;
}

.project__description {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.project__description h3 {
	color: var(--color-dark-pink);
	font-weight: var(--weight-semi-bold);
}

.project__description h3:after {
	position: relative;
	left: 50%;
	margin-left: -12.5px;
	margin-top: 8px;
	display: block;
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	background-color: var(--color-dark-white);
	content: '';
}
.project:nth-child(5) .project__description h3:after,
.project:nth-child(6) .project__description h3:after,
.project:nth-child(7) .project__description h3:after,
.project:nth-child(8) .project__description h3:after {
	margin-left: 1.5px;
}
/* gallery */
.box_gallery {
	width: 1200px;
	padding: 0 110px;
}

.box_gallery_row::after {
	content: '';
	display: block;
	clear: both;
}

.gallery__thumbnail {
	position: relative;
	width: 18.75rem;
	height: 18.75rem;
	float: left;
	border-radius: 1em;
	background-color: var(--color-white);
	margin-top: 65px;
}

.gallery__thumbnail > a img {
	border-radius: 1em;
	width: 100%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.gallery__thumbnail {
	margin-left: 20px;
}

.gallery__thumbnail:hover > a > img {
	opacity: 0.15;
}

.gallery__thumbnail:hover .gallery__thumbnail_content {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.gallery__thumbnail_content {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
.gallery__thumbnail_content > h3 {
	line-height: 2;
	margin-bottom: 0.2em;
	font-size: var(--font-regular);
	color: var(--color-dark-pink);
	font-weight: var(--weight-semi-bold);
}
.gallery__thumbnail_content > h3:after {
	position: relative;
	left: 50%;
	margin-left: -25px;
	margin-top: 2px;
	display: block;
	width: 50px;
	height: 1.5px;
	background-color: var(--color-black);
	content: '';
}

.gallery__thumbnail_content > p {
	line-height: 1.4;
}
/* 오버레이 */
#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}
#overlay > .container {
	width: 60rem;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#slide {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.gallery__big_photo {
	width: 60rem;
}
button.close {
	position: absolute;
	right: 1rem;
	top: 28%;
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
	background: transparent;
	cursor: pointer;
	color: var(--color-dark-grey);
	font-size: 48px;
	z-index: 100;
	transition: all var(--animation-duration) ease-in;
}
button.close:hover {
	color: var(--color-dark-pink);
}
/* Multi */
.multi__container {
	margin: auto;
	max-width: 1200px;
}

.multi__lists {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.multi__lists li {
	justify-content: center;
	align-items: center;
	position: relative;
	width: 320px;
	height: 420px;
	text-align: center;
	background-color: var(--color-white);
	overflow: hidden;
	cursor: pointer;
	margin: 2px;
}

.multi__lists li img {
	display: block;
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 0;
	max-width: 100%;
	max-height: 100%;
}

.list1:hover h1 {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -310px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -310px, 0);
}

.list1:hover p {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -270px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -270px, 0);
	opacity: 1;
}

.list1:hover span {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -210px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -210px, 0);
	opacity: 1;
}

.list1:hover .screen::before {
	opacity: 1;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.screen {
	height: 100%;
}
.list1 .screen:before {
	position: absolute;
	top: 420px;
	left: 0;
	width: 320px;
	height: 420px;
	background: linear-gradient(to bottom, rgba(46, 46, 46, 0.8) 10%, rgba(105, 103, 60, 0.7) 80%);
	opacity: 0;
	-webkit-transform: translate3d(0, 80%, 0);
	transform: translate3d(0, 80%, 0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	z-index: 10;
	content: '';
}

.list1 .screen h4 {
	position: absolute;
	width: 320px;
	left: 0;
	top: 360px;
	z-index: 10;
	color: var(--color-white);
	transition: transform 0.35s, all 0.35s;
	transition: transform 0.35s, all 0.35s, -webkit-transform 0.35s;
}

.list1:hover h4 {
	top: 30px;
}

.list1 .screen span,
.screen p {
	position: absolute;
	width: 320px;
	left: 0;
	top: 420px;
	margin-top: 10px;
	transition: transform 0.35s, all 0.35s;
	transition: transform 0.35s, all 0.35s, -webkit-transform 0.35s;
	z-index: 10;
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-align-last: left;
	padding: 0 35px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.5;
}

ul .list1 .screen h4:after {
	position: absolute;
	width: 100px;
	height: 2px;
	left: 50%;
	margin-left: -50px;
	top: 50px;
	background-color: var(--color-white);
	opacity: 0.5;
	content: '';
}
.list2 h4 {
	position: absolute;
	width: 320px;
	left: 0;
	top: 50%;
	margin-top: -12px;
	z-index: 10;
	transition: all 0.5s;
}
.list2 p {
	color: var(--color-white);
}
.list2:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	height: 420px;
	background-color: rgba(38, 38, 38, 0.3);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 0;
	content: '';
}

.list2:hover:after {
	opacity: 1;
}

.list2:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.list2:hover h4 {
	top: 150px;
}

.list2:hover p {
	top: 200px;
	opacity: 1;
}

.list2:hover li:nth-of-type(1) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(2) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(3) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2:hover li:nth-of-type(4) {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.list2 p {
	width: 320px;
	position: absolute;
	left: 0;
	top: 230px;
	z-index: 10;
	opacity: 0;
	-webkit-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}
.list2 ol {
	position: absolute;
	left: 0;
	top: 0;
	margin-bottom: 0;
	width: 320px;
	height: 420px;
	z-index: 10;
}
.list2 ol li {
	position: absolute;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
	background-color: var(--color-white);
}

.list2 ol li:nth-of-type(1) {
	width: 276px;
	height: 2px;
	left: 20px;
	top: 20px;
}

.list2 ol li:nth-of-type(2) {
	width: 2px;
	height: 376px;
	right: 20px;
	top: 20px;
}

.list2 ol li:nth-of-type(3) {
	width: 276px;
	height: 2px;
	right: 20px;
	bottom: 20px;
}

.list2 ol li:nth-of-type(4) {
	width: 2px;
	height: 376px;
	left: 20px;
	bottom: 20px;
}

.list2 img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.list3 {
	position: relative;
	background-color: #000;
	color: #fff;
}

.list3:hover img {
	opacity: 0.8;
}
.list3:hover h4 {
	top: 80px;
}

.list3:hover p {
	top: 140px;
}

.list3:hover div {
	top: 360px;
}

.list3 h4 {
	position: absolute;
	top: 100px;
	left: 30px;
	z-index: 3;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.list3 p {
	position: absolute;
	top: 160px;
	left: 30px;
	z-index: 2;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.icons i:nth-of-type(1) {
	left: 0;
	-webkit-transition: all 0.3s 0.1s;
	transition: all 0.3s 0.1s;
}

.icons i:nth-of-type(2) {
	left: 45px;
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
}

.icons i:nth-of-type(3) {
	left: 90px;
	-webkit-transition: all 0.3s 0.3s;
	transition: all 0.3s 0.3s;
}

.list3 div {
	position: absolute;
	width: 320px;
	height: 60px;
	top: 420px;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.list3 img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-transition: all 0.3s 0s;
	transition: all 0.3s 0s;
}
.list3 .icons {
	position: absolute;
	top: 256px;
	right: 20px;
	width: 132px;
	height: 50px;
	z-index: 4;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}
.list3 .icons i {
	display: block;
	position: absolute;
	top: 200px;
	color: var(--color-white);
	width: 22px;
	height: 22px;
}

.list3:hover .icons i {
	top: 120px;
}
/* Contact */
#contact {
	background: url('./images/contact-background.png') center/ cover no-repeat;
	padding: 80px;
	text-align: center;
	box-sizing: border-box;
}

.contact__title,
.contact__email,
.contact__right {
	color: var(--color-white);
}
.contact__title {
	margin: 32px 0;
}

.contact__links {
	font-size: var(--font-large);
	margin: 24px 0;
}
.contact__links i {
	transition: all var(--animation-duration) linear;
}

.contact__links i:hover {
	transform: scale(1.1);
	color: var(--color-dark-grey);
}

/* Scroll */
.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 70px;
	height: 70px;
	font-size: 50px;
	background-color: var(--color-dark-white);
	color: var(--color-white);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 300ms ease-in;
	pointer-events: none;
	z-index: 100;
	transition: all var(--animation-duration) linear;
}
.arrow-up:hover {
	background-color: var(--color-dark-pink);
}

.arrow-up.visible {
	opacity: 1;
	pointer-events: auto;
}

/* for below 1440px screen width */
@media screen and (max-width: 1440px) {
	.home__title {
		font-size: var(--font-medium);
	}
	.home__description {
		font-size: var(--font-regular);
	}
	.cont1 div > p,
	.cont2 p,
	.cont2 ul > li {
		font-size: var(--font-small);
	}
	.skill {
		margin-bottom: 70px;
	}
	.skill__bar > p {
		font-size: var(--font-micro);
	}
	.gallery__thumbnail {
		display: inline-block;
		float: none;
		margin-top: 2rem;
	}
	.box_gallery {
		width: 100%;
		padding: 0;
	}
	.box_gallery_row {
		width: 100%;
		text-align: center;
	}
	#overlay > .container {
		width: 50rem;
	}
	.gallery__big_photo {
		width: 50rem;
	}
}
@media screen and (max-width: 980px) {
	.about__profile {
		flex-direction: column;
		height: 100%;
	}
	.about__profile > div {
		width: 100%;
	}
	.cont1 > div:nth-child(1) img {
		width: 50%;
	}
	.cont1 > div:nth-child(2) {
		width: 40%;
		text-align: left;
	}
	.cont1 > div:nth-child(2) > p:last-child {
		float: left;
	}
	.cont1 > div:nth-child(2) > h3:after {
		left: 0;
		width: 40%;
	}
}
@media screen and (max-width: 768px) {
	:root {
		/* Font size */
		--font-large: 30px;
		--font-medium: 18px;
		--font-regular: 16px;
		--font-small: 14px;
		--font-micro: 12px;
	}
	.section {
		padding: 16px;
		padding-top: 40px;
	}
	.navbar__toggle-btn {
		display: block;
		top: 16px;
		right: 16px;
	}
	.navbar__logo .logo {
		margin-left: 16px;
		margin-top: 16px;
	}
	.navbar__logo .logo img {
		width: 50%;
		height: 50%;
	}
	#navbar {
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--color-pink);
		padding: 0;
	}
	#navbar.navbar--dark {
		padding: 0;
	}
	.navbar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display: none;
	}

	.navbar__menu.open {
		display: block;
	}
	#home {
		height: 100vh;
		width: 100%;
		overflow: hidden;
	}
	.home__title {
		font-size: var(--font-medium);
	}
	.home__description {
		font-size: var(--font-regular);
		font-family: var(--font-korean);
	}
	.about__profile {
		width: 90%;
		flex-direction: column;
	}
	.cont1 {
		width: 100%;
	}
	.cont2 {
		width: 100%;
		margin: 0 auto;
	}
	.cont1 div > p,
	.cont2 p,
	.cont2 ul > li {
		font-size: var(--font-small);
	}
	.about__majors {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 0px;
		justify-content: center;
	}
	.me {
		width: 70%;
	}
	.me > img {
		width: 80%;
	}
	.major {
		margin-bottom: 30px;
	}

	.skillset {
		flex-direction: column;
	}
	.skill__bar > p {
		font-size: var(--font-micro);
	}
	.category__btn {
		margin: 4px 0;
		width: 100%;
	}
	.project {
		flex-grow: 1;
	}
	.gallery__thumbnail {
		margin-left: 0;
	}
	#overlay > .container {
		width: 30rem;
	}
	.gallery__big_photo {
		width: 30rem;
	}
	.multi__lists {
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
	}
	.arrow-up {
		width: 50px;
		height: 50px;
		font-size: 30px;
		line-height: 50px;
		right: 16px;
		bottom: 16px;
	}
	.mouseicon {
		bottom: 3%;
	}
}
